.trading-data-grid-container {
  margin-top: 1rem;
  display: grid;
	grid-template-columns: repeat(2, 1fr);
  gap: .2rem;
}

.draggable {
  height: 12rem;
  background-color: beige;
  border-radius: 6px;
}