
.drop-zone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.drop-zone {
  border: 2px solid black;
  height: 20rem;
  width: auto;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) { 
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) { 
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) { 
 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}