
.drop-zone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.drop-zone {
  border: 2px solid black;
  height: 20rem;
  width: auto;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}