


/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) { 

}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) { 

 
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) { 
  .weekday-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .weekday-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    
    padding-top: 1rem;
    border: 2px black solid;
    width: 15rem;
    height: 15rem;
  }
  
  .weekday-item h6 {
    width: 100%; 
    text-align: center; 
    padding-bottom: 0.5rem; 
    border-bottom: 2px black solid;
  }

}
